.first_jumbotron {
    margin: 0;
    padding: 5rem 1rem;
    margin-top: 3rem;
    text-align: center; 
    background-color: white; 
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-position: center; 
    border-radius: .3rem;
}